@import "tailwindcss";


@theme {
    /*Brand colors*/
    --color-primary: #FF6A00;
    --color-secondary: #F4900C;
    --color-accent: #DD2E44;

    /*Background colors*/
    --color-background: #0B0C0F;
    --color-surface: #14151A;
    --color-card: #17181D;
    --color-stroke: rgba(255, 255, 255, 0.06);

    /*Text colors*/
    --color-text: #FFFFFF;
    --color-text-secondary: #857E7E;
    --color-text-muted: rgba(255, 255, 255, 0.70);
    --color-text-on-primary: #000000;

    /*UI elements*/
    --color-border: #292626;
    --color-divider: #D9D9D9;

    /*Status colors*/
    --color-notification: #DD2E44;
    --color-success: #33AC71;
    --color-warning: #FCC21B;
    --color-info: #BAE2FD;

    /*Additional useful colors*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-overlay: rgba(0, 0, 0, 0.45);
}


.shadow {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.32);
    transform: translateZ(0);
}

.text-weight{
    font-weight: normal;
}